    header {
      text-align: center;
      background: url("https://www.google.com/search?safe=strict&espv=2&biw=1366&bih=638&tbm=isch&sa=1&q=cookies&oq=cookies&gs_l=img.3...916411.921574.0.922285.0.0.0.0.0.0.0.0..0.0....0...1c.1.64.img..0.0.0.pUCpzkxDGbc");
      background-size: cover;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 50px;
      color: purple;font-size:
        padding: 5px;
      
      
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      
      li {
        padding: 5px;
        display: block;
      }
    }
    #tiger {
      height:300px;
      width:200px;
    }
    #pizza {
      height:300px;
      width:200px;
    }
    
